In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_excel('LinkedIn_Dataset_1.xlsx')
df.columns = ['post']
df.iloc[453,0]

'This multi-billion pound valuated pioneer within the Fintech solutions world are looking to strengthen their sales division in LondonðŸš€ðŸ“ˆ\n\nBase salary: Â£100,000-150,000 with around 60% OTEðŸ’°\n\nIf you are a London based New Business hunter with experience selling into Asset Management or Wealth Management firms then apply below:\n\n#fintech #sales #newbusiness'

In [3]:

# string with letters, numbers, and special characters
# s = """Three years ago a crack markets and finance commentary service unit was discontinued due to a software update it did not commit (to). This service promptly escaped from maximum bureaucratic stasis to a London-based blogging underground.

# Today, still wanted by readers, they survive as commenters of fortune. If you have a market problem and no-one else can offer insight, and you can find them, maybe you can hire the TBS-team.

# For the past few months, under the safeguard of TBS veteran commenters, a select group of financial pros, journalists and commenters have been gathering every Monday at 11am in a discrete location on the web to discuss what's really going on in finance, markets and economics.

# But they're now ready to come out of stealth mode.

# The Blind Spot is proud to announce the official resuscitation of (Spot) Markets Live. Starting tomorrow (FRIDAY) at 11am UK time on the Coodash platform with Anjuli Davies. From then on every Monday at 11am.

# We are also collaborating with Ben Harrington of Betaville and Neil Collins, formerly of the Telegraph.

# You will need a login.

# Sign-up details can be found here:
# https://lnkd.in/euu7ZYj4

# #markets #spotmarketslive #finance"""

def clean_post(text):

        # remove emoticons
        emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
        "]+", re.UNICODE)
        s1 = re.sub(emoj, '', text)
        # keep only letters
        res = re.sub(r'[^\'@_!#$%^&*()<>?/\|}{~:\[\]\-.0-9a-zA-Z]+', ' ', s1)
        return res

In [4]:
df['post'] = df['post'].apply(clean_post)

In [5]:
df.iloc[452,0]

'Still tied but super happy about the outcome of possible sales we generated from dmexco last week at our shopware booth Our new product strategy hits the right momentum for the international mid-market and customer needs. How did you experience shopware and the dmexco in general? #shopware #sales #peoplebusiness '

In [6]:
df

                                                  post
0    A typical question I get from many people espe...
1    If bitcoin goes down to 14K in next 4 weeks it...
2    From cradle to grave women fare worse than men...
3    The reality is to catalyze adoption you have t...
4    To understand 2022 crypto winter we must go a ...
..                                                 ...
486  Well sales isn t a bad word and the great sale...
487  Sales and Marketing hack for understanding the...
488  Everyone sells. Does not matter what position ...
489  Here s an effective but different prospecting ...
490  Treating customers as one-off transactions is ...

[491 rows x 1 columns]

In [7]:
training_data = df.sample(frac=0.9, random_state=25)
testing_data = df.drop(training_data.index)

In [9]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 442 entries, 459 to 354
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   post    442 non-null    object
dtypes: object(1)
memory usage: 6.9+ KB

In [8]:
training_data.to_csv('LinkedIn_train.csv',index=False)
testing_data.to_csv('LinkedIn_valid.csv',index=False)